body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
header .container {
    display: flex;
    justify-content: space-between; /* logo left, nav right */
    align-items: center;            /* vertically center both */
  }
  
  /* Logo styling */
  .logo {
    display: flex;
    align-items: center;
    gap: 10px; /* space between logo image and text */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* display: flex; */
  }
  
  ul li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #ffa500;
  }

  @media (max-width: 768px) {
    header .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;
    }
  }
  